
/* select mask */
.cdk-overlay-container {
    z-index :1050!important;   /*  dialog mask 1040 */
}
/* mutiple select */
.ant-select-selection--multiple {
    min-height : 25px!important;
    margin-top : -3px!important;
    border:0!important;
    box-shadow: none!important;
}
.ant-select-open .ant-select-selection--multiple{
    border:0!important;
    box-shadow: none!important;
}

/* dropdown-menu */
.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title{
    padding: 10px 20px !important;
}
.ant-dropdown-menu {
    padding: 5px 0px !important;
    min-width: 180px !important;
}
.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
    background-color: #f3f3f3 !important;
}

/* calendar */
.ant-fullcalendar-header{
    display: none;
}