<div class="module-content">
  <div class="module-header">
    <h5 class="module-header-title"><i class="fas fa-map"></i>Static</h5>
    <h5 class="module-header-desc">use leaflet tile layer to display static image</h5>
  </div>
  <div class="module-body">
    <div #map style="height:100%;">
      <div class="toolbar">
        <nz-dropdown [nzPlacement]="'bottomLeft'">
          <button nz-dropdown class="btn btn-default"><i class="fas fa-server"></i> 图层</button>
          <div class="list">
            <div class="list-body">
              <div class="list-grid-item list-grid-item-large" *ngFor="let item of features">
                <span class="text-fixed-width" [tooltip]="item.name"><i class="fas fa-layer"></i> {{item.name}}</span>
                <label nz-checkbox [(ngModel)]="item.checked" (ngModelChange)="switch(item)"></label>
              </div>
            </div>
          </div>
        </nz-dropdown>
      </div>
    </div>
  </div>
</div>
