$color-primary:   rgb(77,77,77);
$color-primary-active:   rgb(26,26,26);
$color-primary-hover: rgba(77,77,77,0.5);
$color-primary-active-hover:  rgba(26,26,26,0.5);
$color-primary-bg : rgba(77,77,77,0.2);

$color-success : rgb(34,215,187);
$color-warning : rgb(255,196,66);
$color-danger : rgb(255,91,87);