.ngg-tree{
  margin-left:10px;
}

.ngg-tree-node{
  user-select: none;
}
.ngg-tree-node{
  margin-bottom: 2px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 8px 10px 8px 18px;
  line-height: 24px;
  cursor: pointer;
  color: #666;
  transition: all .2s;
}
.ngg-tree-node.active {
  color: $color-primary;
  background: $color-primary-bg;
  border-right: 4px solid $color-primary;
  text-decoration: none;
}
.ngg-tree-node:hover {
  background: 0 0!important;
  box-shadow: 0 0 8px 2px #ccc;
}
.ngg-tree-node .expand-icon {
  margin-right: 3px;
  width:14px;
  vertical-align: middle;
  color: #aaa;
}