$color-primary:   rgb(1,102,94);
$color-primary-active:   rgb(0,60,48);
$color-primary-hover: rgba(1,102,94,0.5);
$color-primary-active-hover:  rgba(0,60,48,0.5);
$color-primary-bg : rgba(1,102,94,0.2);

$color-success : rgb(34,215,187);
$color-warning : rgb(255,196,66);
$color-danger : rgb(255,91,87);