$color-primary:   #22d7bb;
$color-primary-active:   #189582;
$color-primary-hover: rgba(34, 215, 187, 0.5);
$color-primary-active-hover:  rgba(24, 149, 130, 0.5);
$color-primary-bg :  rgba(34, 215, 187, 0.2);

$color-success : #22d7bb;
$color-warning : #ffc442;
$color-danger : #ff5b57;