
.btn-primary{
    background: $color-primary;
    border-color: $color-primary;
}
.btn-primary.active{
    background:  $color-primary-active;
    border-color: $color-primary-active;
}
.btn-success{
    background: #22d7bb;
    border-color:#22d7bb;
}
.btn-warning{
    background: #ffc442;
    border-color:#ffc442;
}
.btn-danger{
    background: #ff5b57;
    border-color:#ff5b57;
}
.btn-default{
    background: #fdfdfd;
    border-color:#ddd;
    color: #333;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus{
    background: $color-primary;
    border-color:$color-primary;
    color:#fff;
}
.btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus{
    background:  $color-primary-active;
    border-color: $color-primary-active;
    color:#fff;
}
.btn-primary:hover{
    box-shadow: 0 2px 5px 1px $color-primary-hover;
}
.btn-primary.active:hover{
    box-shadow: 0 2px 5px 1px $color-primary-active-hover;
}
.btn-primary.disabled.focus,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled].focus,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover {
    cursor: not-allowed;
    background: #f3f3f3;
    border-color: #ddd;
    color: #cacaca;
    box-shadow: none;
}

.btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus{
    background: #22d7bb;
    border-color:#22d7bb;
    color:#fff;
}
.btn-success:hover{
    box-shadow: 0 2px 5px 1px rgba(34,215,187,.45);
}

.btn-warning:hover, .btn-warning:active, .btn-warning:focus, .btn-warning:active:hover, .btn-warning:active:focus, .btn-warning:active.focus, .btn-warning.active:hover, .btn-warning.active:focus, .btn-warning.active.focus{
    background: #ffc442;
    border-color:#ffc442;
    color:#fff;
}
.btn-warning:hover{
    box-shadow: 0 2px 5px 1px rgba(255,196,66,.45);
}
.btn-warning.disabled.focus,.btn-warning.disabled:focus,.btn-warning.disabled:hover,.btn-warning[disabled].focus,.btn-warning[disabled]:focus,.btn-warning[disabled]:hover {
    cursor: not-allowed;
    background: #f3f3f3;
    border-color: #ddd;
    color: #cacaca;
    box-shadow: none;
}

.btn-danger:hover, .btn-danger:active, .btn-danger:focus, .btn-danger:active:hover, .btn-danger:active:focus, .btn-danger:active.focus, .btn-danger.active:hover, .btn-danger.active:focus, .btn-danger.active.focus{
    background: #ff5b57;
    border-color:#ff5b57;
    color:#fff;
}
.btn-danger:hover{
    box-shadow: 0 2px 5px 1px rgba(255,91,87,.45);
}
.btn-danger.disabled.focus,.btn-danger.disabled:focus,.btn-danger.disabled:hover,.btn-danger[disabled].focus,.btn-danger[disabled]:focus,.btn-danger[disabled]:hover {
    cursor: not-allowed;
    background: #f3f3f3;
    border-color: #ddd;
    color: #cacaca;
    box-shadow: none;
}

.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus{
    background: #fdfdfd;
    border-color:#ddd;
    color:#333;
}
.btn-default:hover{
    box-shadow: 0 2px 5px 1px rgba(221,221,221,.45);
}
.btn-default.disabled.focus,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default[disabled].focus,.btn-default[disabled]:focus,.btn-default[disabled]:hover {
    cursor: not-allowed;
    background: #f3f3f3;
    border-color: #ddd;
    color: #cacaca;
    box-shadow: none;
}

.btn.disabled, .btn[disabled]{
    cursor: not-allowed;
    background: #f3f3f3;
    border-color: #ddd;
    color: #cacaca;
    box-shadow: none;
}

.label-primary{
    background:$color-primary;
}
.label-primary:hover{
    background:$color-primary-active;
}

.label-primary-o{
    border:1px solid $color-primary;
    color: $color-primary;
}
.label-primary-o:hover{
    border:1px solid $color-primary-active;
    color: $color-primary-active;
}

.label-success{
     background:#22d7bb;
 }
.label-success:hover{
    background:#189582;
}
.label-success-o{
    border:1px solid #22d7bb;
    color: #22d7bb;
}
.label-success-o:hover{
    border:1px solid #189582;
    color: #189582;
}

.label-warning{
    background:#ffc442;
}
.label-warning:hover{
    background:#c77a00;
}
.label-warning-o{
    border:1px solid #ffc442;
    color: #ffc442;
}
.label-warning-o:hover{
    border:1px solid #c77a00;
    color: #c77a00;
}

.label-danger{
    background:#ff5b57;
}
.label-danger:hover{
    background:#f8120b;
}
.label-danger-o{
    border:1px solid #ff5b57;
    color: #ff5b57;
}
.label-danger-o:hover{
    border:1px solid #f8120b;
    color: #f8120b;
}

.label-default{
    background:#f0f0f0;
    color:#888
}
.label-default:hover{
    background:#b7b7b7;
}
.label-default-o{
    border:1px solid #888;
    color: #888;
}
.label-default-o:hover{
    border:1px solid #b7b7b7;
    color:#b7b7b7;
}

.label-purple{
    background:#ef7ede;
}
.label-purple:hover{
    background: #e73acd;
}

.label-blue{
    background: #7076fa;
}
.label-blue:hover{
    background: #262ff7;
}

.text-primary{
    color:$color-primary;
}
.text-success{
    color:#22d7bb;
}
.text-warning{
    color:#ffc442;
}
.text-danger{
    color:#ff5b57;
}
.text-default{
    color: #fff;
}
.text-gray{
    color: #ccc;
}

.bg-primary{
    background-color:$color-primary;
}
.bg-success{
    background-color:#22d7bb;
}
.bg-warning{
    background-color:#ffc442;
}
.bg-danger{
    background-color:#ff5b57;
}
.bg-default{
    background-color: #fff;
}

.bc-primary{
    border-color:$color-primary;
}
.bc-success{
    border-color:#22d7bb;
}
.bc-warning{
    border-color:#ffc442;
}
.bc-danger{
    border-color:#ff5b57;
}
.bc-default{
    border-color: #fff;
}