<div class="module-content">
    <div class="module-header">
        <h5 class="module-header-title"><i class="fas fa-columns"></i>上传示例</h5>
    </div>
    <div class="module-body">
        <div class="panel" style="margin-top: 10px;">
            <div class="panel-heading">
                <span class="panel-title">Raw</span>
            </div>
            <div class="panel-body">

                <label class="btn btn-success">
                    <input type="file" name="file" style="display: none;" (change)="upload($event)" multiple/>
                    Upload
                </label>
            </div>
        </div>
    </div>
</div>



